{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>
{% endblock %}

{% block jquery %}



$ratingbin = {{ value.0}};
$ratingpat = {{value.1}};
$ratingfuzzy={{value.2}};


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#bin", $ratingbin, "Number of Friends: " + $ratingbin);
setNewPerc("#pat", $ratingpat, "Number of Friends: " + $ratingpat);
setNewPerc("#fuzzy", $ratingfuzzy, "Number of Friends: " + $ratingfuzzy);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-9 col-centered" contenteditable="false" style="margin:auto;float:none;">
                
                <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Bin List Analysis</div>
               
                 
            </div>
                    <hr style="border-top:1px solid #fff;">
            <div class="progress">
              <div class="progress-bar" id='bin' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
               
             </div>
             </div>

   <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Pattern List Analysis</div>
               
                 
            </div>
                    <hr style="border-top:1px solid #fff;">
            <div class="progress">
              <div class="progress-bar" id='pat' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
               
             </div>
             </div>


   <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Fuzzy Intensity Analysis</div>
               
                 
            </div>
                    <hr style="border-top:1px solid #fff;">
            <div class="progress">
              <div class="progress-bar" id='fuzzy' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
               
             </div>
             </div>

                </div>

            </div>
        </div>
    </section>
{%endblock %}