   
<!DOCTYPE html>
{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Sentiment Analyzer</title>

    <!-- Bootstrap core CSS 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
  -->
   <link href="{% static 'boot/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template 
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">-->

    <link href="{% static 'boot/css/jumbotron.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    
    <style>
    body {
		padding-top: 0px;
		padding-bottom: 0px;
	}
  .navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
  }

  .navbar-inverse .navbar-brand, .navbar-brand:hover {
    color: white;
  }

  .featured-row {
        text-align:center;
        background-color:white;
        min-height:200px;
        padding:40px 0;
        border-bottom: 1px solid #EEE;
      }



.navbar-inverse {
  background-color: #337AB7 !important;
  border-color: #E47541 !important;
}

 .jumbotron h1 {
        font-weight: 100;
      }
      .jumbotron p {
        font-weight: 100;
        font-size: 30px;
      }

.col-sm-3 hr{
  border-top: 1px solid #fff;
}


    </style>

    {% block styles %}
  {% endblock %}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="view-source:http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="{% static "boot/js/jquery.easing.min.js"%}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">



  
{% block content %}


{% endblock %}


   
    <hr>
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'boot/js/grayscale.js' %}"></script>
    <script>
    $(document).ready(function(){
        {% block jquery %}
        
<script src="circle-progress.js">
    $('.first').circleProgress({
/**
 * This is the only required option. It should be from 0.0 to 1.0
 * @type {number}
 */
value: 0.0,
 
/**
 * Size of the circle / canvas in pixels
 * @type {number}
 */
size: 100.0,
 
/**
 * Initial angle for 0.0 value in radians
 * @type {number}
 */
startAngle: -Math.PI,
 
/**
 * Width of the arc. By default it's auto-calculated as 1/14 of size, but you may set it explicitly in pixels
 * @type {number|string}
 */
thickness: 'auto',
 
/**
 * Fill of the arc. You may set it to:
 *   - solid color:
 *   - { color: '#3aeabb' }
 *   - { color: 'rgba(255, 255, 255, .3)' }
 *   - linear gradient (left to right):
 *   - { gradient: ['#3aeabb', '#fdd250'], gradientAngle: Math.PI / 4 }
 *   - { gradient: ['red', 'green', 'blue'], gradientDirection: [x0, y0, x1, y1] }
 *   - image:
 *   - { image: 'http://i.imgur.com/pT0i89v.png' }
 *   - { image: imageObject }
 *   - { color: 'lime', image: 'http://i.imgur.com/pT0i89v.png' } - color displayed until the image is loaded
 */
fill: {
  gradient: ['#3aeabb', '#fdd250']
},
 
/**
 * Color of the "empty" arc. Only a color fill supported by now
 * @type {string}
 */
emptyFill: 'rgba(0, 0, 0, .1)',
 
/**
 * <a href="http://www.jqueryscript.net/animation/">Animation</a> config (see jQuery animations: http://api.jquery.com/animate/)
 */
animation: {
  duration: 1200,
  easing: 'circleProgressEasing'
},
 
/**
 * Default animation starts at 0.0 and ends at specified `value`. Let's call this direct animation.
 * If you want to make reversed animation then you should set `animationStartValue` to 1.0.
 * Also you may specify any other value from 0.0 to 1.0
 * @type {number}
 */
animationStartValue: 0.0,
 
/**
 * Reverse animation and arc draw
 * @type {boolean}
 */
reverse: false,
 
/**
 * Arc line cap ('butt' (default), 'round' and 'square')
 * Read more: https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D.lineCap
 * @type {string}
 */
lineCap: 'butt',
});
</script>

        {% endblock %}
    });
    </script>
  </body>
</html>