{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>
{% endblock %}

{% block jquery %}

$rating = {{ result}};
$rating=$rating*100;


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-9 col-centered" contenteditable="false" style="margin:auto;float:none;">
                
                <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Comparison of Proximity based Techniques</div>
                <div class="panel-body" style="text-align:justify;"> <p> Sentiment Analysis is one of the most widely researched area in advancing technology.In this arena, the most recent advancement is Proxmitiy based approaches such as Pattern List Approach, Bin List Approach and Mean Median Approaches. Here we are presenting a comparitive analysis of the accuracy of these approaches. We are having a set of 900 positive phone reviews collected from Amazon. You could apply this to selected set of reviews this positive review corpus and we will return the accuracy of the corresponding algorithm.</p>
                 </div>
                 
            </div>
                    <div class="first "></div>
                    <form action="/analyzer/study/">
                        <select name="approach" class="form-control">
                                 <option value="pattern">pattern list approach</option>
                                 <option value="bin">bin list approach</option>
                                 <option value="fuzzy">Fuzzy Logic Approach</option>
                                 <option value="all">Compare all 3 Approaches</option>
                        </select>
                        <hr style="border-top:1px solid #fff;">
                       <input type="search" class="form-control" name = "llimit" placeholder="Enter the lower limit in review corpus">
                        <hr style="border-top:1px solid #fff;">
                       <input type="search" class="form-control" name = "ulimit" placeholder="Enter the upper limit in review corpus">
                        <hr style="border-top:1px solid #fff;">
                        
                        
                        <button type="submit" name="submit" value="submit" class="btn btn-primary ">Go</button>
                    </form>
                    <hr style="border-top:1px solid #fff;">
                 
                 
            </div>
           
                </div>

            </div>
        </div>
    </section>
{%endblock %}