{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>
{% endblock %}

{% block jquery %}

$rating = ;



function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}

<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-9 col-centered" contenteditable="false" style="margin:auto;float:none;">
                 <ul class="list-group">
                {% for rows in p %}

               <li class="list-group-item text-muted"> <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">{{rows.pname}}</div>
               
                 
            </div>
                 
            

             <button type="button" class="btn btn-info pull-left" style="width:{{rows.score}}%;text-align:left;">{{rows.score}}</button>

             <hr style="border-top:1px solid #fff;">
             </li>
             {% endfor %}
           </ul>  

                </div>

            </div>
        </div>
    </section>
{%endblock %}