
{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
    border:none !important;
}


</style>
{% endblock %}

{% block jquery %}

$rating = {{ result}};
$rating=$rating*100;


function setNewPerc(progressBarId, percentNum, newText){
    $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
    $(progressBarId).html(parseInt(percentNum));
    };

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-6 col-centered" contenteditable="false" style="margin:auto;float:none;">
                <a href='/analyzer/register/'><button type="button" class="btn btn-info" >Register</button></a>
                <hr style="border-top:1px solid #fff;">
                <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Enter your credentials</div>
                 
            </div>
                    <div class="first "></div>
                    <form id="login_form" method="post" action="/analyzer/login/">
                    {% csrf_token %}
                     <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" />
                    <br />
                <input type="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
                    <br />
            <button type="submit" name="submit" value="submit" class="btn btn-primary ">Login</button>
                 </form>
                 
                    
            </div>
        </div>
    </section>
{%endblock %}
    <body>
        <h1>Login to Rango</h1>

        

    </body>
</html>
