{% load static %}
<link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<link href="{% static 'boot/css/grayscale.css' %}" rel="stylesheet">
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color:#337AB7;">
        <div class="container" style="height:30px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/analyzer/">
                    <i class="fa fa-play-circle"></i>  <span class="light">Sentiment Analyzer</span> 
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/analyzer/#about"><i class="fa fa-github fa-fw"></i>About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/analyzer/#download">Search</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/analyzer/#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/analyzer/comparison">Comparison Study</a>
                    </li>
                    {% if user.is_authenticated %}
                      <li class="dropdown pull-right page=scroll">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav navbar-nav">{{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="/analyzer/history">History</a></li>
                    <li><a href="/analyzer/logout/">Logout</a></li>
                     
                </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="/analyzer/login">Login</a>
                    </li>
                    {%endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


   

<!-- 
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>
      </div>
    </div> -->