{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>


{% endblock %}

{% block jquery %}

$ratingc = {{ result.camera }};
$ratingc=$ratingc*100;
$ratingd = {{ result.display }};
$ratingd=$ratingd*100;
$ratingb = {{ result.battery }};
$ratingb=$ratingb*100;
$ratingde = {{ result.design }};
$ratingde=$ratingde*100;
$ratingp = {{ result.processor }};
$ratingp=$ratingp*100;
$ratings = {{ result.sound }};
$ratings=$ratings*100;
$ratingg = {{ result.gaming }};
$ratingg=$ratingg*100;
$ratingu = {{ result.user_experience }};
$ratingu=$ratingu*100;
$ratingf = {{ result.final }};
$ratingf=$ratingf*100;




//$(".progress-bar").css("width", "80%").attr("aria-valuenow", "80").text("80%");

function completeBlock(progressBarId){
	$(progressBarId).css("width", "100%").attr("aria-valuenow", "100").text("Completed");
};


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#camera", $ratingc, "Number of Friends: " + $ratingc);
setNewPerc("#display", $ratingd, "Number of Friends: " + $ratingd);
setNewPerc("#battery", $ratingb, "Number of Friends: " + $ratingb);
setNewPerc("#design", $ratingde, "Number of Friends: " + $ratingde);
setNewPerc("#processor",$ratingp, "Number of Friends: " + $ratingp);
setNewPerc("#sound", $ratings, "Number of Friends: " + $ratings);
setNewPerc("#gaming", $ratingg, "Number of Friends: " + $ratingg);
setNewPerc("#user_experience",$ratingu, "Number of Friends: " + $ratingu);
setNewPerc("#final", $ratingf, "Number of Friends: " + $ratingf);


{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}


  <!-- Main jumbotron for a primary marketing message or call to action -->
  
    <div class="jumbotron">
      <div class="container" >
      <div class='row'>
        <div class='col-md-12 pull-center' style='text-align:center;'>
        


<hr style="border-top:1px solid #fff;">
        <i class="fa fa-share-alt fa-5x"></i>
          <h1>Here Are the Ratings &amp;<br/> You Can Decide!</h1>
          
          
          <div class="row">
          <div class="col-sm-12">
			<button type="button" class="btn btn-info" >Overall Rating of {{pname}}</button>
			<hr style="border-top:1px solid #fff;">
			<div class="progress">
			  <div class="progress-bar" id='final' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
			   
			 </div>
			 </div>
			 

		<a href={{url}} target="_blank"><button id="buy" type="button" class="btn btn-info" style="border-radius:75px;width:150px;height:150px;" >Buy Now</button></a>

			
			
			

		
         
         
        </div>
       
		
        
          </div>
      </div>
    </div>
<hr style="border-top:1px solid #fff;">
<hr style="border-top:1px solid #fff;">
<hr style="border-top:1px solid #fff;">
<hr>
<button type="button" class="btn btn-info" style="width:100%;text-align:left;">Feature Specific ratings</button>
<hr>

<div class='container' style="text-align:center;">


<div class="row" >
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id='camera' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">NA
			   <math>{{result.camera}}&#8727;100</math>
			  </div>
		</div>
		<h4>Camera</h4>
		<img src="{% static 'images/camera.png' %}" width="100px" height="100px"/>
		
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="display" role="progressbar" aria-valuenow="100" aria-valuemin="50" aria-valuemax="100" style="width: 50%;">
			   NA
			  </div>
		</div>
		<h4>Display</h4>
		<img src="{% static 'images/display4.png' %}" width="100px" height="100px"/>
		
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="battery" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   NA
			  </div>
		</div>
		<h4>Battery</h4>
		<img src="{% static 'images/battery.png' %}" width="100px" height="100px"/>
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="design" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  	NA
			  </div>
		</div>
		<h4>Design</h4>
		<img src="{% static 'images/design.png' %}" width="100px" height="100px"/>
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id='processor' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   NA
			  </div>
		</div>
		<h4>Processor</h4>
		<img src="{% static 'images/processor.png' %}" width="100px" height="100px"/>
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="sound" role="progressbar" aria-valuenow="100" aria-valuemin="50" aria-valuemax="100" style="width: 50%;">
			   NA
			  </div>
		</div>
		<h4>Sound</h4>
		<img src="{% static 'images/sound.png' %}" width="100px" height="100px"/>
		<hr/>
		
		<hr/>
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="gaming" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			   NA
			  </div>
		</div>
		<h4>Gaming</h4>
		<img src="{% static 'images/gaming.png' %}" width="100px" height="100px"/>
		
	</div>
	<div class="col-sm-3">
	<h3></h3>
		<div class="progress">
			  <div class="progress-bar" id="user_experience" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
			  	NA
			  </div>
		</div>
		<h4>User Experience</h4>
		<img src="{% static 'images/ui.png' %}" width="100px" height="100px"/>
		
	</div>
</div>

</div>

</div>

{% endblock %}