
{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
    border:none !important;
}


</style>
{% endblock %}

{% block jquery %}

$rating = {{ result}};
$rating=$rating*100;


function setNewPerc(progressBarId, percentNum, newText){
    $(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
    $(progressBarId).html(parseInt(percentNum));
    };

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-6 col-centered" contenteditable="false" style="margin:auto;float:none;">
                
                <hr style="border-top:1px solid #fff;">
                {% if registered %}
                <div class="panel panel-default style="background:#eee;"">
                 
                <div class="panel-heading" style="background:#eee;">Thank you for registering!!</div>
                 
            </div>
            {% else %}
            <div class="panel panel-default style="background:#eee;"">
                 
                <div class="panel-heading" style="background:#eee;">Register Here</div>
                 
            </div>
                    <div class="first "></div>
                   <form id="user_form" method="post" action="/analyzer/register/"
                enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" id="username" class="form-control" placeholder="Username" name="username" value="" size="50" />
                    <br />
                    <input type="email" id="email" class="form-control" placeholder="email" name="email" value="" size="50" />
                    <br />
                <input type="password" id="password" class="form-control" placeholder="Password" name="password" value="" size="50" />
                <hr style="border-top:1px solid #fff;">
            <button type="submit" name="submit" value="Register" class="btn btn-primary ">Register</button>
                 </form>
                 
               {% endif %}     
            </div>
        </div>
    </section>
{%endblock %}
   
</html>
