{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}
</style>
{% endblock %}



{% block content %}
{% include "analyzer/navbar.html" %}

 <hr style="border-top:1px solid #fff;">
 <div class="col-sm-12 pull-center">
            <!--left col-->
            <ul class="list-group">
            <li class="list-group-item text-muted" contenteditable="false" style='text-align:center;'>Reviews</li>
            {%for index,review in message %}
                <li class="list-group-item "><span ><strong class="pull-left"></strong>{{review}}</span></li>
            {% endfor %}
            
            </ul>
           
           
            
</div>

{% endblock %}