{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>
{% endblock %}

{% block jquery %}

$rating = {{ result}};
$rating=$rating*100;


function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-9 col-centered" contenteditable="false" style="margin:auto;float:none;">
                
                <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Analyze Your Custom Review</div>
                 
            </div>
                    <div class="first "></div>
                    <form action="/analyzer/search/">
                        <select name="select" class="form-control">
                                 <option value="fuzzy">Fuzzy intensity finder</option>
                               
                        </select>
                        <hr style="border-top:1px solid #fff;">
                        <textarea name="customreview" class="form-control" placeholder="Drop Your Review Text Here"></textarea>
                        <hr style="border-top:1px solid #fff;">
                        
                        <button type="submit" name="submit" value="submit" class="btn btn-primary ">Go</button>
                    </form>
                    <hr style="border-top:1px solid #fff;">
                    <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Here is the result: Score magnitude in the range [0,1]</div>
                 
            </div>
                    <button type="button" class="btn btn-info" style="width:{{rows.score}}%;text-align:left;">{{value}} with score={{result}}</button>

            </div>
        </div>
    </section>
{%endblock %}