{% extends "analyzer/base.html" %}
{% load static %}

{% block styles %}

<style>
.featured-row {
	border:none !important;
}


</style>
{% endblock %}

{% block jquery %}



$rating = {{ result}};



function setNewPerc(progressBarId, percentNum, newText){
	$(progressBarId).css("width", percentNum + "%").attr("aria-valuenow", percentNum);
	$(progressBarId).html(parseInt(percentNum));
	};

setNewPerc("#final", $rating, "Number of Friends: " + $rating);

{%endblock%}

{% block content %}
{% include "analyzer/navbar.html" %}
<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-sm-9 col-centered" contenteditable="false" style="margin:auto;float:none;">
                
                <hr style="border-top:1px solid #fff;">
                <div class="panel panel-default style="background:#eee;"">
                <div class="panel-heading" style="background:#eee;">Comparison of Proximity based Techniques</div>
               
                 
            </div>
                    <hr style="border-top:1px solid #fff;">
            <div class="progress">
              <div class="progress-bar" id='final' role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
               
             </div>
             </div>
                </div>

            </div>
        </div>
    </section>
{%endblock %}